:root {
  --main-color: #cbfe1c;
  --second-color: #0b0e13;
}
.text-main {
  color: var(--main-color) !important;
}
.bg-main {
  background-color: var(--main-color);
}
body {
  background-color: var(--second-color);
  font-family: "Chakra Petch", sans-serif;
    overflow-x: hidden;
}

.shine{
    position: relative;
    overflow: hidden;
}
.shine:hover::before{
left: 100%;
}
.shine::before{
    content: "";
position: absolute;
top: 0;
left: -100%;
background-image: linear-gradient(to right, transparent, rgba(255, 255, 255,0.7),transparent);
width: 100%;
height: 100%;
transition: 0.5s all;
}
.shine:hover{
    background-color: #A4CE1A;
    color: black !important;
}
.btn-2:hover{
    background-color: var(--main-color);
    color: black !important;
}
.btn-2{
    background-color: transparent;
    color: var(--main-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Days One", sans-serif;
}


/*********************navbar*************************/

.nav-link{
    color: white !important;
    font-size: 1.0625rem;
}
.navbar{
    background-color: var(--second-color);
}
.navbar-nav .nav-link.active{
    color: var(--main-color) !important;
}
 .nav-link:hover{
    color: var(--main-color) !important;

 }
.nav-icons:hover{
    color: var(--main-color);
    cursor: pointer;
}
@media screen and (max-width:782px){
    .navbar .sign-btn{
        
        width: 100%;
    }
    .navbar a{
        margin-bottom: 20px;
        
    }
    .navbar-nav{
        border-bottom: 0.5px solid #424242;
        padding-bottom: 0 !important;
    }
    .nav-icons{
        padding-block: 10px;
    }
}


/* *******************home********************* */

#home{
    background-image: linear-gradient(rgba(0, 0, 0,0.87)),url(../images/hero-bg-H6PoyNYD.jpg);
    min-height: 100vh;
   background-attachment: fixed;
   background-size: cover; 

display: flex;
justify-content: center;
align-items: center;
}

.hero h1{
font-size: 4.0625rem;    
}
.hero p{
    max-width: 570px;
}
.btn-2{
    border: 2px solid var(--main-color);
    transition: 0.3s all;
}
.hero img{

border-radius: 15px;
    height: 400px;
    object-fit: cover;
}
.hero-img{
    background-image: linear-gradient(to right,#CAFD1D,#0AE072  );
    padding: 5px;
    border-radius: 15px;
}
.img-badge{
    position: absolute;
    bottom: -16px;
    left: -16px;
    border-radius: 10px;
    border: 1px solid #3c3c3c;
    background-color:#0B0E13 ;
    padding-inline: 30px;
    padding-block: 20px;
}
.img-badge p{
    font-size: .75rem;
    margin-bottom: 0;
}

#home p{
    color: #99a1af;
}
@media screen and (max-width:782px){
    #home button{
        width: 100%;
        margin-bottom: 10px;
    }
    #home h1{
        font-size: 2.5rem;
    }
    #home{
        padding-top: 150px;
        text-align: center;
    padding-bottom: 100px;
    background-attachment: scroll;
    }
    .hero-img{
        margin-top: 50px;
    }
    .hero-img img{
        height: 230px;
    }
    .img-badge{
        padding: 10px;
    }
}


/* ****************************************our games*********************************** */
#our-games{
    padding-top: 100px;
    padding-bottom: 100px;
}

.heading p{
color: var(--main-color);
font-size: 1.125rem;
position: relative;
display: inline-block;
}
.heading > p::after{
    content: "";
position: absolute;
right: -90px;
top: 50%;
background-image: linear-gradient(to right, var(--main-color)80% ,transparent);
height: 3px;
width: 70px;
}
.heading > p::before{
    content: "";
position: absolute;
left: -90px;
top: 50%;
background-image: linear-gradient(to left, var(--main-color)80% ,transparent);
height: 3px;
width: 70px;
}
.heading div p{
    font-size: 3.125rem;
}
.heading h2{
    font-size: 3rem;
    color: white;
}
.carousel-item img{
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;

    transition: 0.5s all;
}
.carousel-control-next,.carousel-control-prev{
    position: static;
    height: 60px;
    width: 60px;
    color: white;
    border-radius: 50%;
    border:2px solid white;
    
}
.carousel-control-next:hover ,.carousel-control-prev:hover{
border-color:var(--main-color) ;
color: var(--main-color);
}
.carousel-item{
    overflow: hidden;
}
.card-img{
    overflow: hidden;
    border-radius: 15px;
}

.card-img:hover img{
    transform: scale(1.2);
}
.card-img:hover{
    border: 2px solid var(--main-color);

}
.overlay{
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to bottom,transparent,var(--main-color));
padding-bottom: 15px;
padding-left: 20px;
align-items: flex-end;
display: flex;
transition: 0.4s all;

}
.card-img:hover .overlay{
    bottom: 0;
}
.spans{
    top: -100%;
    left: 0;
    padding-top: 15px;
    padding-left: 20px;
    color: white;
    transition: 0.4s all;
}
.card-img:hover .spans{
    top: 0;
}
.spans span{
    font-size: .75rem;
    margin-right: 5px;
padding: 5px 10px;
    background-color: rgba(0, 0, 0,0.6);
border-radius: 25px;
}

@media screen and (max-width:782px){
.heading p{
    font-size: 1rem ;
}
.heading h2{
    font-size: 2rem;
}
.btns{
    flex-direction: column;
}
.btns button{
    
}
#our-games .btn-2{
width: 94%;
}
.carousel-control-next,.carousel-control-prev{
    position: static;
    height: 40px;
    width: 40px;
    color: white;
    border-radius: 50%;
    border:2px solid white;
    
}

}


/* ********************************what we do**************************************** */


.what-card i{
width: 60px;
height: 60px;
border-radius: 10px;
display: inline-flex;
margin-bottom: 15px;
justify-content: center;
align-items: center;
background-color:#1E2939 ;
}
.what-card h3{
    font-size: 1.25rem;
    width: 50%;
}
.what-card img{
    height: 100%;
}
.what-card{
    border: 1px solid #1E2939;
overflow: hidden;
 border-radius: 20px;
    padding:80px 0px ;
    background-color: #1A1A1A;
    height: 100%;
    transition: 0.5s all;
    position: relative;
}
.what-card:not(.not-me)::before{
    content: "";
    width: 0;
    height: 0;
    border-bottom:12px solid transparent ;
    border-top: 12px solid var(--main-color);
    border-right: 12px solid transparent;
    border-left: 12px solid var(--main-color);
    left: -20px;
    top: -20px;
    position: absolute;
    transition: 0.5s all;
}
.what-card:not(.not-me)::after{
    content: "";
    width: 0;
    height: 0;
    border-bottom:12px solid var(--main-color) ;
    border-top: 12px solid transparent;
    border-right: 12px solid var(--main-color);
    border-left: 12px solid transparent;
    right: -20px;
    bottom: -20px;
    position: absolute;
    transition: 0.5s all;
}
.what-card:hover::before{
    top: 20px;
    left: 20px;
}
.what-card:hover::after{
    right: 20px;
    bottom: 20px;
}
.what-card:not(.not-me):hover{
    border-color: var(--main-color);
}
.what-card:hover i{
    color: black !important;
    background-color: var(--main-color);
}

@media screen and (max-width:782px){
.what-card h3{
    font-size: 1rem;
    width: 100%;
}
.what-card{
    border: 1px solid #1E2939;
overflow: hidden;
 border-radius: 20px;
    padding:60px 0px ;
    background-color: #1A1A1A;
    height: 100%;
    transition: 0.5s all;
    position: relative;
}
}